.intextlogo {
    background: url('/assets/images/android-chrome-36x36.png');
    height: 16px;
    width: 16px;
    display: inline-block;
    background-size: cover;
    margin-left: 2px;
}
