---
---

@import 'jekyll-theme-leap-day';

#banner {
    display: none;
}

#banner .button {
    display: none;   
}

#banner #logo {
    display: none;   
}

footer {
    display: none;   
}

.language-plaintext {
    font-size: 12px;
    background-color: #F0F0F0;
    color: black;
    text-shadow: none;
    padding: 0px;
}

.mnesiostag {
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 75%;
}
